{% extends 'base_simple.html.twig' %}

{% block title %}Forgot password?{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="forgot-password-wrapper">
        <div class="state" data-state="1">
            <form method="post">
                <div class="grid-container">
                    <div class="grid-x grid-padding-x text-center" style="margin-bottom: 1rem">
                        <div class="cell">
                            <div class="font-bold" style="font-size: 18px">Forgot your Password?</div>
                            <div style="margin-top: 1rem">
                                <span class="font-medium">Don't worry!</span> Simply enter your email address. We'll send you a link, where you can create a new <span class="font-medium">password</span>.
                            </div>
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x">
                        <div class="cell">
                            <label>Email address
                                <input type="email" name="email" id="inputEmail" placeholder="Your email address" autocomplete="email" required autofocus>
                            </label>
                        </div>
                        <div class="cell color-red text-center" id="error" style="margin-bottom: 1rem; font-size: 14px; display: none;">
                            No account registered to this email.
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-6">
                            <button class="button red-button" type="submit">Send Link</button>
                        </div>
                        <div class="cell medium-6 text-right">
                            <a class="button" href="{{ path('app_login') }}">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="state" data-state="2" style="display: none">
            <div class="grid-container">
                <div class="grid-x grid-padding-x text-center" style="margin-bottom: 1rem">
                    <div class="cell">
                        <div class="font-bold" style="font-size: 18px">Success!</div>
                        <div style="margin-top: 1rem">
                            <span class="font-medium">We've sent you an email containing the link to reset your password!</span> If you haven't received your email yet, check your spam folder.
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="cell">
                        <a class="button red-button" href="{{ path('default_index') }}" style="width: 100%">Return to Login Page</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center powered-by">
            Powered by <a href="https://profq.eu?source={{ utm_param_profq }}" target="_blank">ProfQ</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('form').on('submit', (event) => {

            event.preventDefault();

            $.ajax({
                url: Routing.generate('default_forgot_password'),
                method: 'POST',
                data: {
                    email: $('input[type="email"]').val()
                },
                responseType: 'json'
            }).then((response) => {
                if(response.error) {
                    $('#error').show();
                    $('input').addClass('error');
                } else {
                    $('.state[data-state="1"]').remove();
                    $('.state[data-state="2"]').show();
                }
            })
        })
    </script>
{% endblock %}