@import '_variables';

#app-index {

  display: flex;
  justify-content: space-between;
  padding: .5rem;

  max-width: 1200px;
  margin: 2rem auto 0;

  .project-tracking {

    padding: 15px;
    border-radius: 30px;

    box-shadow: $box_shadow;

    width: 550px;

    &.active-tracking {

      .project-tracking-checkout {
        display: block;
      }

      .project-tracking-current-time,
      .project-tracking-time {
        &:before {
          content: none;
        }
      }
    }

    .project-tracking-current-time,
    .project-tracking-time {
      &:before {
        content: '-|-';
      }
    }

    .project-tracking-tracking-time-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .project-tracking-checkout {

      border: 1px solid $red;
      box-shadow: $box_shadow;
      padding: 5px 10px;
      border-radius: 10px;

      cursor: pointer;

      width: 145px;

      text-align: center;

      display: none;

      &:before {
        content: 'Check out';
        font-weight: 500;
        color: $red;
      }

      svg {

        width: 8px;
        height: 10px;

        .triangle-stroke {
          fill: $red;
        }
      }
    }

    .project-tracking-project-name {
      border: 1px solid $gray;
      border-radius: 10px;

      padding: 0 10px 5px;

      min-width: 150px;
      box-shadow: $box_shadow;

      display: inline-flex;
    }
  }

  .project-list-wrapper {

    .has-tip {
      font-weight: unset;
      border-bottom: 0;
    }

    .project-list-sort {

      font-size: 14px;
      display: flex;
      justify-content: space-between;

      margin-bottom: 1rem;

      padding: 0 15px;

      width: 500px;

      ul {

        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;

        li {
          line-height: 1.1;
          text-align: center;
          width: 45px;

          &:first-of-type {
            width: 70px;
          }

          &:not(:last-of-type) {
            margin-right: .75rem;
          }
        }
      }
    }

    .project-item {

      border: 2px solid $gray;
      padding: 15px;
      border-radius: 30px;

      width: 500px;

      &.disabled-project {

        border-color: rgba($gray, .4);

        .project-item-header,
        .project-item-footer,
        .project-item-body > .project-item-deadline {
          opacity: .4;
        }
      }

      &.active-project {
        .project-item-body {
          .project-item-checkinout {

            color: $red;

            &:before {
              content: 'Check out';
            }

            .triangle-stroke {
              fill: $red;
            }
          }
        }
      }

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      .project-item-header {

        display: flex;
        justify-content: space-between;
        //align-items: center;

        margin-bottom: .75rem;

        .project-item-name {

          font-weight: 500;
          font-size: 20px;

          width: 250px;
          overflow: hidden;
          display: block;
          text-overflow: ellipsis;

          >span {
            font-weight: 400;
            font-size: 14px;
            width: 350px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .project-item-stats {
          >* {
            display: inline-block;
            text-align: center;

            width: 45px;

            position: relative;

            &:first-of-type {
              width: 70px;
              text-align: right;
            }

            &:not(:last-of-type) {
              margin-right: .75rem;
            }
          }
        }

        .project-item-stats-time {
          font-weight: 500;
        }

        .project-item-stats-status {

          display: inline-flex!important;
          justify-content: center;

          >span {

            width: 10px;
            height: 10px;
            border: 1px solid $gray;
            display: block;

            &.filled {
              background-color: $gray;
            }

            &:not(:last-of-type) {
              margin-right: 3px;
            }
          }
        }

        .project-item-stats-prio {

          display: inline-flex!important;
          justify-content: center;

          >span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: rgba($gray, .2);
          }
        }
      }

      .project-item-body {

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: .75rem;

        .project-item-deadline {
          font-weight: 500;
          width: 50%;
        }

        .project-item-checkinout {

          border: 1px solid $gray;
          box-shadow: $box_shadow;
          padding: 5px 10px;
          border-radius: 10px;

          cursor: pointer;

          width: 145px;

          text-align: center;

          &:before {
            content: 'Check in';
            font-weight: 500;
          }

          svg {

            width: 8px;
            height: 10px;

            .triangle-stroke {
              fill: $gray;
            }
          }
        }
      }

      .project-item-footer {

        display: flex;
        justify-content: space-between;
        align-items: center;

        .project-item-projectmanagement {

          font-weight: 500;

          >a {
            font-weight: 400;
            padding: 5px 10px;
            box-shadow: $box_shadow;
            border-radius: 10px;
            color: $gray;
          }
        }

        .project-item-more {
          padding: 5px 10px;
          box-shadow: $box_shadow;
          border-radius: 10px;
          color: $gray;
          width: 145px;
        }
      }
    }
  }
}