@import '_variables';

body {
  color: $gray;
}

#responsive-menu {
  box-shadow: $box_shadow;

  ul {
    li {
      &:not(.menu-text) {
        width: 130px;
        text-align: center;
      }

      color: $gray;

      a {
        color: $gray;
      }

      &:not(:last-of-type) {
        margin-right: .5rem;
      }

      &:hover:not(.no-hover) {
        a {
          box-shadow: $box_shadow;
        }
      }

      &.active {
        a {
          background-color: $active_color;
          box-shadow: $box_shadow;
        }
      }
    }
  }
}

.color-black {
  color: #0a0a0a;

  &:hover {
    color: lighten(#0a0a0a, 20)
  }
}

h2 {
  font-weight: 500;
}

.powered-by {
  font-size: 12px;

  a {
    color: #F15959;
  }
}