@import '_variables';

.login-wrapper {
  max-width: 400px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  a {
    color: $brand_color;
  }

  input {
    &[type="email"],
    &[type="password"] {
      box-shadow: $box_shadow;
      border-radius: 5px;

      &.error {
        border-color: $brand_color;
        color: $brand_color;

        &::placeholder {
          color: $brand_color;
          opacity: .6;
        }
      }
    }
  }

  button {
    &[type="submit"] {
      display: block;
      width: 100%;
      background-color: $brand_color;
      color: #fff;
      font-weight: 500;
      margin-top: .5rem;
      border-radius: 5px;
    }
  }
}

.forgot-password-wrapper {
  max-width: 400px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  a {
    color: $brand_color;
  }

  input {
    &.error {
      border-color: $brand_color;
    }
  }

  .button {
    border-radius: 5px;
    box-shadow: $box_shadow;
    color: #fff;
    font-weight: 500;

    padding: 15px 35px;

    background-color: $gray;

    &.red-button {
      background-color: $brand_color;
    }
  }
}

.reset-password-wrapper {
  max-width: 400px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  a {
    color: $brand_color;
  }

  input {
    &.error {
      border-color: $brand_color;
    }
  }

  .button {
    border-radius: 5px;
    box-shadow: $box_shadow;
    color: #fff;
    font-weight: 500;

    padding: 15px 35px;

    background-color: $gray;

    &.red-button {
      background-color: $brand_color;
    }
  }
}